*{
    margin: 0;
    padding: 0;
     font-family:  sans-serif;
}
.container{
background: #000;
width: 100%;
min-height: 100vh;
position: relative;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.logo{
    width: 40px;
 }
  ul li{
    display: inline-block;
    }
  ul li a{  
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    }
    .content{
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        }
        .content .text{  
        color: #fff;
         /* margin-bottom: 20px; */
    } 
            .content .text h2{
        font-size: 40px;
        margin-bottom: 20px;  
        text-transform: uppercase;
    }
     .content  .text p{
        font-size: 18px;
        margin : 20px 0;  
    }
    
        .content .text a{
        color: #000;
        background:#fff;
         text-decoration: none;
        margin: 0 10px;
        padding: 10px 20px;
        border: 1px solid #fff;
        border-radius: 20px;
    } 
         .content .image{
          width: 30%;
         }

         .content .image img{
          width: 180px;

         }
         .icons{
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
         }
         .icons img{
          width: 40px;
          transition: .8s;
          cursor: pointer;
         }
        .icons img:hover{ 
         transform: scale(1.4);
        }